<h1>Pipelining table calculator ⚠️</h1>

<div class="commands">
  <mat-form-field appearance="outline">
    <mat-label>Commands</mat-label>
    <textarea matInput placeholder="Commands" [(ngModel)]="name"></textarea>
    <mat-hint>Eg. E1 MULTIP R1, R2, R3</mat-hint>
  </mat-form-field>
</div>

<!-- <input type="text" [(ngModel)]="starts" required placeholder="Starts with" />
<input type="text" [(ngModel)]="ends" required placeholder="Ends with" /> -->
<p style="display: none">Test: {{ testRegex() }}</p>

<div class="inputs">
  <mat-form-field appearance="outline">
    <mat-label>Letter</mat-label>
    <input [(ngModel)]="letter" type="text" matInput placeholder="Ex. E" />
    <mat-hint>The start letter to split</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Choose an option</mat-label>
    <mat-select [(ngModel)]="wraps">
      <mat-option value="1"></mat-option>
      <mat-option value="2">[ ]</mat-option>
      <mat-option value="3">( )</mat-option>
      <mat-option value="4">{{ "{ }" }}</mat-option>
    </mat-select>
    <mat-hint>What wraps the command. e.g [], ()</mat-hint>
  </mat-form-field>
</div>
<!-- <table>
  <thead>
    <th>
      <td>No.</td>
      <td>Command</td>
    </th>
  </thead>
<ng-container *ngFor="let command of commands">
    <tbody>
      <td>
        {{command}}
      </td>
    </tbody>
  </ng-container>
</table> -->

<div *ngIf="commands?.length" class="table-wrapper">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>Command</th>
        <ng-container
          *ngFor="let l of [].constructor(commands.length + 5); let i = index"
        >
          <th>λ {{ i > 0 ? "+" + i : "" }}</th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let command of commands; let i = index">
        <tr>
          <td class="left">{{ i + 1 }}</td>
          <td class="left">
            {{ command }}
          </td>
          <ng-container *ngFor="let bef of [].constructor(i)">
            <td class="empty"></td>
          </ng-container>
          <td>ΠΕ</td>
          <td>ΑΕ</td>
          <td>ΕΠ</td>
          <td>ΠΜ</td>
          <td>ΑΑ</td>
          <ng-container *ngFor="let aft of [].constructor(commands.length - i)">
            <td class="empty"></td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
